@import

:root {
    /* --color-blue: #101b39;  */
    --color-bg: #F8F1F4;
    --color-bg-2 : #18314F;

    --btn-color: #0b2536;
    --font: 'Poppins', sans-serif ;
    --text-color-blue: #18314F;
    --text-bg-hover: #18314f57;
    --text-color-alt: #fff;

    --color-azul-claro: #00d0ff;

    --btn-bg-blue: #18314F;
    --btn-bg-white: #F8F1F4;
    --btn-text-blue: #18314F;
    --btn-text: #ffffff;

}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-bg);
    color: var(--text-color);
    font-family: var(--font);
    font-size: 16px;
}
/* =================== MENU CATEOGORIAS =================== */



/* .container__menu {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: var(--color-bg-2);
}
.container__menu .menu {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.container__menu .menu .menu__left {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.container__menu .menu .menu__right {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav__menu .nav__menu__ul {
    display: flex;
    gap: 1rem;
}
.nav__menu .nav__menu__ul .nav__item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}
.nav__categorias {
    display: none;
    position: relative;
}
.nav__item__categorias:hover .nav__categorias {
    display: block;
    position: absolute;
}
.menu__right .search {
    position: relative;
    display: flex;
    align-items: center;
}
.menu__right .search input {
    width: 380px;
    height: 35px;
    border: 0;
    border-radius: 8px;
    background-color: var();
    color: var(--text-color);
    font-family: var(--font);
    font-size: 18px;
    text-indent: 10px;
}
.menu__right .search button {
    position: absolute;
    left: 90%;
    width: 40px;
    height: 37px;
    background-color: var(--color-bg);
    border: 0;
    border-radius: 8px;
    z-index: 100;
    cursor: pointer;
}
.menu__right .search button i {
    font-size: 18px;
}
.menu__right .search button:hover i {
    transform: scale(.9);
}
.social__menu {
    display: flex;
    gap: 1rem;
}
.social__menu a {
    text-decoration: none;
    color: var(--text-color);
}
.social__menu i{
    font-size: 24px;
} */

/* section banner */

/* .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container__banner {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
}
.banner img {
    position: relative;
    background-size: cover;
    width: 100%;
    border-radius: 0px 0 8px 8px;
}
.banner__discount {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    height: 90%;
    color: #fff;
}
.banner__discount .discount__porcent {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--color-bg-2);
    cursor: default;
}
.banner__discount .discount__porcent p {
    padding: 4px 0;
    cursor: default;
}
.banner__discount h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font);
    text-transform: uppercase;
    cursor: default;
}
.discount__text {
    padding-left: 20px;
    line-height: 3;
}
.discount__text a {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--color-bg-2);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    transition: .4s ease-in-out;
    font-weight: 500;
}
.discount__text a:hover {
    background-color: var(--color-bg);
    color: var(--text-color);
}
.discount__text p {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 200;
    cursor: default;
} */


/* GIFTCODE */

/* .giftcode {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.giftcode .container__giftcode {
    width: 80%;
    height: 100px;
    background-color: var(--color-bg-2);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.giftcode .container__giftcode p {
    font-size: 32px;
    color: var(--text-color-alt);
}
.giftcode .container__giftcode p span {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
} */

/* ======================== PRODUCT ======================== */





