@import url(variables.css);

.banner__discount {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    height: 100%;
    color: #fff;
    justify-content: space-around;
    font-family: var(--font);
}

.discount__porcent {
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-2);
    font-family: var(--font);
    font-weight: 500;
    text-indent: 10px;
}

.date__promotional {
    font-size: 3em;
    font-weight: 600;
    text-indent: 10px;
}

.btn__buy {
    margin-left: 10px;
}

.date__validation {
    margin-left: 10px;
    font-size: 14px;
}