.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container__banner {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    /* min-width: 1200px; */
    height: 40vh;
    border-radius: 4px;
    background-image: url(../assets/img/banners/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 500px) {
    .banner {
        display: none;
    }
}

