
footer {
    margin-top: 2rem;
    background-color: var(--color-bg-2);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    color: var(--text-color-alt);
    font-size: 18px;
    font-weight: 400;
}