.giftcode {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.giftcode .container__giftcode {
    width: 80%;
    height: 100px;
    background-color: var(--color-bg-2);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.giftcode .container__giftcode p {
    font-size: 32px;
    color: var(--text-color-alt);
}
.giftcode .container__giftcode p span {
    font-weight: 600;
    text-transform: uppercase;
    color: var( --color-azul-claro);
}
