@import url(../variables.css);

.social__menu {
    position: relative;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.social__menu .menu__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg-2);
    border-radius: 50%;
    margin-right: 6.3rem;
    position: absolute;
    z-index: 10;
    right: 2%;
}
.social__menu a img {
    width: 32px;
    cursor: pointer;
    z-index: 100;
}

.menu__datos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__name {
    display: flex;
    background-color: #18314F60;
    align-items: center;
    justify-content: center;
    height: 89%;
    border-radius: 20px;
    z-index: 100;
    padding: 0 1rem 0 3rem;
}

.social__name__span {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .8px;
}

.admin__interaction {
    position: absolute;
    top: 99%;
    width: 100%;
    min-width: 145px;
    display: none;
    transition: .2s ease;
}

.social__menu .active {
    display: inline-block;
}

.admin__list {
    border-radius: 10px;
    background-color: var(--color-bg-2);
    width: 100%;
    padding: .5rem 0;
}

.admin__item {
    padding: .8rem 1rem;
    transition: .2s ease;
    color: var(--text-color-alt);
}

.admin__item:hover {
    color: var(--color-azul-claro);
}

.item__logout {
    border-top: 1px solid var(--color-azul-claro);
}