@import url(../variables.css);

main {
    min-height: 76.5vh;
}

.product__item {
    position: relative;
}

.product__container {
    width: 80%;
}

.product__title h1 {
    font-weight: 600;
    font-size: 24px;
}

.menu__product_main {
    position: absolute;
    top: 2.5%;
    width: calc(100% - 10px);
    height: 40px;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1.5rem;
    z-index: 100;
}

.menu__product_main a {
    font-size: 30px;
    width: 40px;
    color: var(--color-azul-claro);    
}
.menu__product_main a i {
    transition: .4s ease;
}
.menu__product_main a:hover i{
    transform: scale(1.2);
}

.btn__plus {
    cursor: pointer;
}

.product__list {
    flex-wrap: wrap;
}

.custom-icon {
    color: var(--color-azul-claro);
}