.container__menu {
    display: flex;
    justify-content: center;
    height: 100px;
}
.container__menu .menu {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.container__menu .menu .menu__left {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.container__menu .menu .menu__right {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav__menu .nav__menu__ul {
    display: flex;
    gap: 1rem;
}
.nav__menu .nav__menu__ul .nav__item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    padding: 8px;
}
.nav__menu .nav__menu__ul .nav__item a:hover {
    background-color: var(--text-bg-hover);
    border-radius: 8px;
}
.nav__categorias {
    display: none;
    z-index: 100;
    background-color: var(--color-bg);
    padding: 1rem;
}
.nav__categorias li {
    margin-bottom: 1rem;
}
.nav__item__categorias:hover .nav__categorias {
    display: block;
    position: absolute;
    top: 7%;
}
.menu__right .search {
    position: relative;
    display: flex;
    align-items: center;
}
.menu__right .search input {
    width: 380px;
    height: 35px;
    border: 0;
    border-radius: 8px;
    background-color: var();
    color: var(--text-color);
    font-family: var(--font);
    font-size: 18px;
    text-indent: 10px;
}
.menu__right .search button {
    position: absolute;
    left: 90%;
    width: 40px;
    height: 37px;
    background-color: var(--color-bg);
    border: 0;
    border-radius: 8px;
    z-index: 100;
    cursor: pointer;
}
.menu__right .search button i {
    font-size: 18px;
}
.menu__right .search button:hover i {
    transform: scale(.9);
}
.social__menu {
    display: flex;
    gap: 1rem;
}
.social__menu a {
    text-decoration: none;
    color: var(--text-color);
}
.social__menu i{
    font-size: 24px;
}