/* :root {
    --blue-primary: #18314F;
    --white-primary: #F8F1F4;

    --blue-secundary: #00d0ff;

    --body-color: #eaeaea;

    --btn-blue: #18314F;
    --btn-white: #F8F1F4;

    --size-h1: 40px;

    --font: 'Jost' sans-serif;

    --button-desktop: 120px;
    --button-desktop-text: 20px;
    
    --button-mobile: 60px;
    --button-mobile-text: 20px;

    --radius: 4px;
} */