.product__description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product__description .name__description {
    font-size: 16px;
    color: var(--text-color-alt);
}
.product__description .product__price {
    display: flex;
    align-items: center;
    gap: 5px;
}
.product__description .product__price .price {
    font-size: 20px;
    color: var(--text-color-alt);
}
.product__description .product__price .discount {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color-azul-claro);
    text-transform: uppercase;
}
.product__shop {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    left: 0;
    top: 88.5%;
    border-radius: 8px;
}
.product__shop .count i {
    font-size: 30px;
}
.product__shop .add__cart i {
    font-size: 24px;
}
.product__shop span {
    font-size: 24px;
    color: var(--color-azul-claro);
}
.product__shop i {
    color: var(--color-azul-claro);
    transition: .4s ease;
}
.product__shop i:hover {
    transform: scale(1.2);
}
.product__shop .int__shop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 70px;
}